<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <style>
        body {
            font-size: .85em;
            font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
        }
    </style>
</head>
<body>
    <h1>
        模拟第三方支付结算处理
    </h1>
    <p>
        注意：这里代表会议管理系统集成了一个外部系统，展示一个集成的实现场景。更多信息请查看<a href="http://pundit.cloudapp.net">
            Journey Docs
        </a>.
        <br />
        实际系统中，这里您将提供你的付款细节和授权付款，然后返回会议管理系统。
    </p>
    @RenderBody()
    <footer>
        <div>
            <p>
                <a href="http://cqrsjourney.github.com/">CQRS Journey Project</a>, Microsoft patterns &amp;&nbsp;practices.<br />
                <span>这是一个出于学习目的的示例应用程序，而不是个真实的系统！</span>
            </p>
        </div>
    </footer>
</body>
</html>
